<div data-ng-controller="BoardsController">
    <div class="row">
        <div data-ng-repeat="board in boards" class="medium-4 columns board {{board.title}}">
            <h3>{{board.title}}</h3>

            <div data-ng-controller="StoriesController">
                <ul dnd-list="stories"
                    dnd-drop="updateStory(event, index, item, external, type)"
                    dnd-inserted="">
                    <li data-ng-repeat="story in stories | filterState: board.allowedStates"
                        class="{{story.current_state}} story"
                        dnd-draggable="story"

                        dnd-moved="story.splice($index, 1)"
                        dnd-effect-allowed="move">

                        <span>{{story.current_state}}</span>
                        <p>{{story.name}}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>