.board {
    background: lighten($md-blue, 40%);
    padding: 1.5rem 2.5rem 2.5rem!important;
    margin: 1rem 0;
    box-shadow: 0px 3px 7px -1px rgba($md-blue, 0.45);

    ul[dnd-list], ul[dnd-list] li {
        position: relative;
    }

    ul[dnd-list] {
        min-height: 100px;

        li {
            position: relative;
        }

        .dndPlaceholder {
            display: block;
            background-color: $md-blue;
            min-height: 100px;
        }

        .dndDraggingSource {
            display: none!important;
        }
    }

    h3 {
        color: $md-blue;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.story {
    border: 1px solid #efefef;
    padding: 1rem 1rem 2rem;
    margin: 1.5rem 0;
    background: white;
    box-shadow: 0px 3px 7px -1px rgba($md-blue, 0.45);
    position: relative;
    border-bottom: 1px solid #efefef;

    span {
        color: white;
        padding: 0.25rem 0.75rem;
        display: inline-block;
        width: auto;
        border-radius: 50px;
        font-weight: 900;
        font-size: 0.65rem;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-transform: uppercase;
    }

    &.unstarted {
        display: block;
        border-bottom: 5px solid $md-red;

        span {
            background: $md-red;
        }
    }

    &.started {
        border-bottom: 5px solid $md-blue;

        span {
            background: $md-blue;
        }
    }

    &.finished {
        border-bottom: 5px solid $md-green;

        span {
            background: $md-green;
        }
    }

    &.rejected {
        border-bottom: 5px solid $md-cyan;

        span {
            background: $md-cyan;
        }
    }

    &.delivered {
        border-bottom: 5px solid $md-orange;

        span {
            background: $md-orange;
        }
    }

    &.accepted {
        border-bottom: 5px solid $md-purple;

        span {
            background: $md-purple;
        }
    }
}