.board {
    background: $tundra;
    margin: 1rem 0;
    border-radius: 8px;
    padding-bottom: 0.25rem;
    box-shadow: 1px 3px 7px -1px rgba(0, 0, 0, 0.45);

    ul[dnd-list], ul[dnd-list] li {
        position: relative;
    }

    ul[dnd-list] {
        min-height: 100px;

        li {
            position: relative;
        }

        .dndPlaceholder {
            display: block;
            padding: 1rem 1rem 2rem;
            margin: 1rem;
            background: white;
            box-shadow: 1px 3px 7px -1px rgba(0, 0, 0, 0.15);
            position: relative;
            border-radius: 8px;
            border: 1px solid darken($color: $tundra, $amount: 5%);
            min-height: 125px;
        }

        .dndDraggingSource {
            display: none!important;
        }
    }

    header {
        border-bottom: 1px solid darken($color: $tundra, $amount: 10%);
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
        position: relative;

        i {
            position: absolute;
            font-size: 1.25rem;
            color: darken($tundra, 15%);

            &.fa-ellipsis-v {
                top: 33%;
                left: 1.5rem;
            }

            &.fa-plus-circle {
                top: 63%;
                right: 1.5rem;
                font-size: 2.5rem;
                background: $tundra;
                border-radius: 100%;
                width: 35px;
                height: 35px;
            }
        }

        h3 {
            color: darken($tundra, 45%);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 15px;
            margin: 0 0 0 1.5rem;
        }
    }
}

.story {
    padding: 1rem 1rem 2rem;
    margin: 1rem;
    background: white;
    box-shadow: 1px 3px 7px -1px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 8px;
    border: 1px solid darken($color: $tundra, $amount: 5%);

    &:hover, &:active {
        cursor: move;
    }

    span {
        color: white;
        padding: 0.25rem 0.75rem;
        display: inline-block;
        width: auto;
        border-radius: 50px;
        font-weight: 900;
        font-size: 0.65rem;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-transform: uppercase;
    }

    &.unstarted {
        display: block;
        // border-bottom: 5px solid $md-red;

        span {
            background: $md-red;
        }
    }

    &.started {
        // border-bottom: 5px solid $md-blue;

        span {
            background: $md-blue;
        }
    }

    &.finished {
        // border-bottom: 5px solid $md-green;

        span {
            background: $md-green;
        }
    }

    &.rejected {
        // border-bottom: 5px solid $md-cyan;

        span {
            background: $md-cyan;
        }
    }

    &.delivered {
        // border-bottom: 5px solid $md-orange;

        span {
            background: $md-orange;
        }
    }

    &.accepted {
        // border-bottom: 5px solid $md-purple;

        span {
            background: $md-purple;
        }
    }
}