@import '_variables';
@import '_boards';

body {
    background: linear-gradient(0deg,  lighten($md-cyan, 12%) 0%, lighten($md-blue, 35%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 2rem 0 ;
    height: 100%;
    margin: 0;
    background: #deefff; /* Old browsers */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul, ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}